.banner{
    /* background-color: rgb(189, 239, 247); */
    background-color: #a6dcf5;
    min-height: 70vh;
  
   
}

.bannerHeading{
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 1px 2px rgb(13, 35, 48);
    color: #181717;
}

.paragraph{
   letter-spacing: 2px;
   font-weight: 400;
   font-size: 17px;
   /* text-shadow: 0.5px 0.8px 0.2px rgb(66, 70, 70); */
   color: rgb(53, 51, 51);
}

.button{
   letter-spacing: 1px;
   padding: 5px 15px;
   font-weight: 600;
   border: 1px solid gray;
    color: white;
    background-color: #0c1218;
    border-radius: 5px;
}

.button:hover{
  border: 1px solid black;
  color: black;
   background-color: white;
   box-shadow: 2px 28px 28px 0px gray;
}

.bannerImg{
   width: 100%;
   border-radius: 15px;
    object-fit: cover;
}

.bimg{
    width: 200px;
    height: 150px;
}



